body {
    margin: 0;
}

span {
    color: #2CBF60;
    font-size: 45px;
}

#barra {
    height: 8px;
    width: 100%;
    background-color: #2CBF60;
}

header {
    background-image: url("banner.png");
    width: auto;
    height: 510px;
    background-size: cover;
    display: flex;
}

#titulo {
    height: 510px;
    width: 50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#notify {
    position: relative;
    left: 3.1vw;
}

#texto {
    position: relative;
    left: 9.6vw;
    bottom: 3.9vh
}

#titulo ul {
    display: flex;
    list-style-type: none;
    position: relative;
    bottom: 6vh;
    left: 2.7vw;
}

#titulo li {
    padding: 5px;
}

#titulo li img{
    padding: 11px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 60px;
}

#texto {
    font-family: 'Roboto', sans-serif;
    font-size: 21.5px;
}

#notify {
    font-size: 49px;
    font-family: 'Pacifico', cursive;
}

#hand {
    display: flex;
    width: 50%;
    height: 510px;
    align-items: flex-end;
    justify-content: flex-start;
}

#hand img {
    width: 382px;
}
